body {
  background: #ecf0f1;
}

#hex1 {
  width: 75px;
  height: 75px;
}

#hex2 {
  width: 150px;
  height: 150px;
}

#hex3 {
  width: 200px;
  height: 200px;
}

#color1 {
  background-color: #39D; 
}

#color2 {
  background-color: #93D;
}

#color3 {
  background-color: #D93;
}

#color4 {
  background-color: #D93;
}

#color5 {
  background-color: #D93;
}

.hexagon-wrapper {
  text-align: center;
  margin: 5px;
  position: absolute;
  display: inline-block;
}

.hexagon {
  height: 100%;
  width: calc(100% * 0.57735);
  display: inline-block;
}

.hexagon:before {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(60deg);
}

.hexagon:after {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(-60deg);
}